// Place all the styles related to the udtagabru controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-align: center;
  font: 45px, Sans-Serif;
  color: Black;
  top: 200px;
  left: 0;
  width: 100%;
  position: absolute;
}
img {
  margin-left: auto;
  margin-right: auto;  
  margin-top: 17.5%;
  margin-bottom: auto;  
  display: block;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  }
body {
  position: relative;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
}
.rando {
  text-align: center;
  font: Sans-Serif;
  font-size: 200px;
  color: #FFFD00; 
  position: absolute;
}
.bej {
  background-color: #AAA939;
}
.back {
  text-align: right;
}
.refresh {
  text-align: left;
}
